.header-container {
  background-color: rgb(255, 255, 255);
  padding:15px 40px;
  border-bottom: 1px solid rgb(189, 189, 189);
 }
h2{
    font-family: sans-serif;
}
h3{
    font-family:sans-serif;
    color: rgb(150, 148, 148);
    font-size: 15px;
}



/* Welcome message */
